* {
    margin: 0;
    padding: 0;
}

body {
    background: #F3F5F7;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: inherit;
}

.dark-color {
    color: #3D464D;
}

.medium-color {
    color: #47525D;
}

.light-color {
    color: #7B8994;
}

.white-color {
    color: #ffffff;
}

.blue-color {
    color: #0077B5;
}

.dark-background {
    background-color: #3D464D;
}

.medium-background {
    background-color: #47525D;
}

.light-background {
    background-color: #7B8994;
}

.background-color {
    background-color: #F3F5F7;
}

.white-background {
    background-color: #fff;
}

.blue-background {
    color: #0077B5;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.row-start {
    justify-content: flex-start;
}

.row-center {
    justify-content: center;
}

.row-end {
    justify-content: flex-end;
}

.column-start {
    align-items: flex-start;
}

.column-center {
    align-items: center;
}

.column-end {
    align-items: flex-end;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.flex-5 {
    flex: 5;
}

.flex-6 {
    flex: 6;
}

.flex-7 {
    flex: 7;
}

.flex-8 {
    flex: 8;
}

.flex-9 {
    flex: 9;
}

.flex-10 {
    flex: 10;
}

.flex-11 {
    flex: 11;
}

.flex-12 {
    flex: 12;
}

.margin-left-15 {
    margin-left: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.width-100 {
    width: 100%;
}

.header {

}

.main-heading {
    font-size: 24px;
    font-weight: 700;
    color: #3D464D;
}

.main-subheading {
    font-size: 18px;
    font-weight: 400;
    color: #47525D;
    margin-top: 2px;
}

.main-subheading-2 {
    font-size: 14px;
    font-weight: 300;
    color: #7B8994;
    margin-top: 4px;
}

.main-subheading-3 {
    font-size: 12px;
    font-weight: 300;
    color: #3D464D;
    margin-top: 6px;
}

.cover-pic {
    height: 400px;
    background-size: cover;
    background: no-repeat center;
}

.user-details-box {
    width: 715px;
    padding: 15px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 45%, rgba(255, 255, 255, 1) 64%, rgba(250, 250, 250, 1) 71%, rgba(243, 245, 247, 1) 100%);
    margin: -135px auto 0;
    box-shadow: 0 -30px 50px rgba(0, 0, 0, 0.5);
}

.profile-pic-section {
    width: 240px;
    height: 240px;
}

.profile-detail-section {

}

.header-work-section {
    margin-top: 30px;
}

.profile-mail {
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    border: 1px dashed #979797;
    padding: 2px 10px;
}

.single-post {
    background: #FFFFFF;
    width: 735px;
    margin: 35px auto;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.post-meta {
    padding: 15px;
}

.author-meta {
    margin-left: 10px;
}

.author-pic {
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.author-name {

}

.post-published-date {
    font-size: 12px;
}

.post-image {
    height: 200px;
    width: calc(100% + 10px);
    margin-left: -5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.post-heading-content {
    padding: 15px;
}

.padding-15 {
    padding: 15px;
}

.margin-top-5 {
    margin-top: 5px;
}

.post-heading {
    font-size: 24px;
    text-shadow: none;
    color: #3D464D;
    font-weight: 500;
}

.post-content {
    margin-top: 10px;
    font-size: 17px;
    font-weight: 300;
    line-height: 28px;
    color: #3D464D;
}

.post-tags a {
    color: #0077B5;
}

.other-page-headers {
    width: 715px;
    padding: 15px;
    background: #FFFFFF;
    margin: -75px auto 0;
}

.other-page-headers-pic {
    height: 120px;
    width: 120px;
}

/*tabs*/

.mdl-tabs {
    display: block;
    width: 100%;
}

.mdl-tabs__tab-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    align-items: flex-start;
    height: 48px;
    padding: 0 0 0 0;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.mdl-tabs__tab {
    margin: 0;
    border: none;
    padding: 0 24px 0 24px;
    float: left;
    position: relative;
    display: block;
    text-decoration: none;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: #3D464D;
    overflow: hidden;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
    color: green;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
    height: 2px;
    width: 100%;
    display: block;
    content: " ";
    bottom: 0px;
    left: 0px;
    position: absolute;
    background: yellow;
    animation: border-expand 0.2s cubic-bezier(0.4, 0, 0.4, 1) 0.01s alternate forwards;
    transition: all 1s cubic-bezier(0.4, 0, 1, 1);
}

.mdl-tabs__tab .mdl-tabs__ripple-container {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 1;
    overflow: hidden;
}

.mdl-tabs__tab .mdl-tabs__ripple-container .mdl-ripple {
    background: yellow;
}

.mdl-tabs__panel {
    display: block;
}

.mdl-tabs.is-upgraded .mdl-tabs__panel {
    display: none;
}

.mdl-tabs.is-upgraded .mdl-tabs__panel.is-active {
    display: block;
}

@keyframes border-expand {
    0% {
        opacity: 0;
        width: 0;
    }
    100% {
        opacity: 1;
        width: 100%;
    }
}

.navigation-tabs {
    width: 715px;
    margin: 30px auto 0;
}

.nav-current:after {
    height: 2px;
    width: 100%;
    display: block;
    content: " ";
    bottom: 0;
    left: 0;
    position: absolute;
    background: #0077B5;
    animation: border-expand 0.2s cubic-bezier(0.4, 0, 0.4, 1) 0.01s alternate forwards;
    transition: all 1s cubic-bezier(0.4, 0, 1, 1);
}

.nav-current {
    color: #3D464D;
}

/*pagination*/

.blog-pagination {
    width: 715px;
    margin: 25px auto;
    display: flex;
}

.blog-pagination nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.older-posts,
.newer-posts {
    position: relative;
}

.newer-posts {

}

.older-posts {
    right: 0;
}

.page-number {

}

.older-posts:hover,
.newer-posts:hover {
    color: #889093;
    border-color: #98a0a4;
}

.extra-pagination {
    display: none;
    border-bottom: #EBF2F6 1px solid;
}

.extra-pagination:after {
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    border: #E7EEF2 1px solid;
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    background: #FFF;
    border-radius: 100%;
    box-shadow: #FFF 0 0 0 5px;
}

.extra-pagination .pagination {
    width: auto;
}

/* On page2+ make all the headers smaller */
.paged .main-header {
    max-height: 30vh;
}

/* On page2+ show extra pagination controls at the top of post list */
.paged .extra-pagination {
    display: block;
}

.blog-footer {
    height: 40px;
    background: #3D464D;
    color: #FFFFFF;
}

.inner-blog-footer {
    width: 715px;
    margin: 0 auto;
    display: flex;
    line-height: 40px;
    justify-content: space-between;
    align-items: center;
    font-weight: 100;
    font-size: 12px;
    text-shadow: 0;
}

/*post*/

.main-post-box {
    width: 1200px;
    background: #FFFFFF;
    margin: 100px auto;
    border-radius: 3px;
    box-shadow: 0 2px 26px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1);
    padding-bottom: 70px;
}

.post-header {
    height: 445px;
    width: 100%;
}

.main-post-box article section p > img {
    width: 700px;
    padding: 30px 0;
}

.margin-top-15 {
    margin-top: 15px;
}

.single-post-heading {
    font-size: 40px;
    font-weight: 300;
    line-height: 48px;
    word-wrap: break-word;
}

.margin-left-14 {
    margin-left: 15px;
}

.main-post-box article {
    width: 700px;
    margin: 0 auto;
}

.main-post-box article header {
    padding: 40px 0;
}

.post-box-author-name {
    color: rgb(144, 148, 156);
    text-decoration: none;
    white-space: nowrap;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.34;
    font-weight: 400;
}

.post-tags {
}

.single-post-content {
    font-size: 17px;
    line-height: 28px;
}

.single-post-content p {

}

.post-content a {
    border-bottom: 2px solid #36D995;
}

.post-content a:hover, .post-content a:focus {
    border-color: #2DB77E;
}

.single-post-content h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizeLegibility;
    color: #1F2026;
}