* {
    margin: 0;
    padding: 0;
}

body {
    background: #F3F5F7;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: inherit;
}

.dark-color {
    color: #3D464D;
}

.medium-color {
    color: #47525D;
}

.light-color {
    color: #7B8994;
}

.white-color {
    color: #ffffff;
}

.blue-color {
    color: #0077B5;
}

.dark-background {
    background-color: #3D464D;
}

.medium-background {
    background-color: #47525D;
}

.light-background {
    background-color: #7B8994;
}

.background-color {
    background-color: #F3F5F7;
}

.white-background {
    background-color: #fff;
}

.blue-background {
    color: #0077B5;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.row-start {
    justify-content: flex-start;
}

.row-center {
    justify-content: center;
}

.row-end {
    justify-content: flex-end;
}

.column-start {
    align-items: flex-start;
}

.column-center {
    align-items: center;
}

.column-end {
    align-items: flex-end;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.flex-5 {
    flex: 5;
}

.flex-6 {
    flex: 6;
}

.flex-7 {
    flex: 7;
}

.flex-8 {
    flex: 8;
}

.flex-9 {
    flex: 9;
}

.flex-10 {
    flex: 10;
}

.flex-11 {
    flex: 11;
}

.flex-12 {
    flex: 12;
}

.margin-left-15 {
    margin-left: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.width-100 {
    width: 100%;
}

.header {

}

.main-heading {
    font-size: 24px;
    font-weight: 700;
    color: #3D464D;
}

.main-subheading {
    font-size: 18px;
    font-weight: 400;
    color: #47525D;
    margin-top: 2px;
}

.main-subheading-2 {
    font-size: 14px;
    font-weight: 300;
    color: #7B8994;
    margin-top: 4px;
}

.main-subheading-3 {
    font-size: 12px;
    font-weight: 300;
    color: #3D464D;
    margin-top: 6px;
}

.cover-pic {
    height: 400px;
    background-size: cover;
    background: no-repeat center;
}

.user-details-box {
    width: 715px;
    padding: 15px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 45%, rgba(255, 255, 255, 1) 64%, rgba(250, 250, 250, 1) 71%, rgba(243, 245, 247, 1) 100%);
    margin: -135px auto 0;
    box-shadow: 0 -30px 50px rgba(0, 0, 0, 0.5);
}

.profile-pic-section {
    width: 240px;
    height: 240px;
}

.profile-detail-section {

}

.header-work-section {
    margin-top: 30px;
}

.profile-mail {
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    border: 1px dashed #979797;
    padding: 2px 10px;
}

.single-post {
    background: #FFFFFF;
    width: 735px;
    margin: 35px auto;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.post-meta {
    padding: 15px;
}

.author-meta {
    margin-left: 10px;
}

.author-pic {
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.author-name {

}

.post-published-date {
    font-size: 12px;
}

.post-image {
    height: 200px;
    width: calc(100% + 10px);
    margin-left: -5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.post-heading-content {
    padding: 15px;
}

.padding-15 {
    padding: 15px;
}

.margin-top-5 {
    margin-top: 5px;
}

.post-heading {
    font-size: 24px;
    text-shadow: none;
    color: #3D464D;
    font-weight: 500;
}

.post-content {
    margin-top: 10px;
    font-size: 17px;
    font-weight: 300;
    line-height: 28px;
    color: #3D464D;
}

.post-tags a {
    color: #0077B5;
}

.other-page-headers {
    width: 715px;
    padding: 15px;
    background: #FFFFFF;
    margin: -75px auto 0;
}

.other-page-headers-pic {
    height: 120px;
    width: 120px;
}